.offer {
  min-height: 100vh;

  .title {
    background-color: green;
    height: 100px;
  }

  .cards {
    padding: 2.1rem;

    .card {
      height: 310px;
    }
  }

  .partners {
    background-color: blue;
    height: 150px;
  }
}
