body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.subtitle {
  color: $dark-color;
  font-size: 3rem;
  padding-top: 2rem;
  border-bottom: 3px solid $primary-color;
  display: inline-block;
}

.hidden {
  opacity: 0;
  transform: translateX(100%);
}
