$website-width: 1440px;

$light-color: #f2f2f2;
$medium-color: #ecf0f1;
$dark-color: #333;
$primary-color: #3498db;
$error-color: rgb(190, 68, 68);

$bg-circles: url('../images/bg-circles2.svg');
$bg-ppl: url('../images/bg-ppl.svg');
