.btn {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border: 3px solid $dark-color;
  padding: 0.8rem;
  transition: all 0.3s ease-out;
  display: inline-block;

  &--primary {
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $light-color;
    }

    &:focus {
      background-color: transparent;
      color: $dark-color;
    }

    &--form {
      border-width: 2px;
      padding: 0.5rem;
    }
  }

  &__exit--modal {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 2px 11px 6px 11px;
    transition: background-color 0.7s;
  }

  &__open--modal {
    margin-bottom: 15px;
    border: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: $dark-color;

    &:hover {
      background-color: transparent;
      color: $dark-color;
    }
  }
}
