.navbar {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 250;
  transition: all 0.5s ease;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .hamburger {
      display: none;
      li {
        width: 35px;
        height: 5px;
        background-color: $dark-color;
        margin: 6px 0;
      }
    }

    .nav {
      display: flex;
      padding-bottom: 1rem;

      .active {
        color: $primary-color;
      }

      &__item {
        &--link {
          color: black;
          font-size: 24px;
          cursor: pointer;
          transition: 0.2s all ease-in;
          margin: 0 0.8rem;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  background-color: $light-color;
}
